//logo footer

.footer-logo{
    @include default{
        margin-top: 10px;    
        margin-left: 60px; 
        }

        @include phone{
        margin-top: 60px;    
        margin-left: 163px; 
        }

        @include tablet{
            margin-top: 30px;    
        margin-left: 50px; 
            }

        @include desktop{ 
                
            margin-left:0px; 
            }
            &__web {
                @include font(Raleway, normal, bold, 26px, 1.19, none, 0.03em);
                color: $main-blue-color;
                
             }
            
            &__studio {
                @include font(Raleway, normal, bold, 26px, 1.19, none, 0.03em);
                color: $main-white-color;
                list-style: none;
            }

}   

