.partner__container{
    
    margin: 0 auto;
    @include default{width: 320px;}
    @include phone{width: 480px;}
    @include tablet{width: 768px;}
    @include desktop{width: 1200px;}

}

.partners{
    margin-top: 94px;
    margin-bottom: 50px;
         

    &__list{
       
        @include default{
        
            margin-bottom: 15px;
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;
            margin-left: 15px;
                            }
    
        @include phone{
            display: flex;
            flex-wrap: wrap;
            margin-left: 50px;
        
                     }
                    
                    
    
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            margin-left: 100px;
       
         } 
    
        @include desktop{
            display: flex;
            margin-left: 30px;
        }
      

 
    }

    &__item{
       
        //margin-left: 30px;
        height: 92px;
        display: flex;
        //align-items:center;
        //justify-content: center;
        border-radius: 3%;

        @include default{
            width: calc(100% / 2 - 30px);
            margin-bottom: 15px;
            margin-top: 15px;
        }
    
        @include phone{
            width: calc(100% / 2 - 30px);
            margin-bottom: 15px;
            margin-top: 15px;
                     }
        
        @include tablet{
            width: calc(100% / 3 - 30px);
          
           
         } 
    
        @include desktop{
            width: calc(100% / 6 - 30px);
            &+&{
                margin-left: 30px;
            }
        }
     }

   

     &__title{
        @include font(Roboto, normal, bold, 36px, 1.16, none, 0.03em);
        color: $main-black-color;
        text-align: center;
        margin-bottom: 50px;
    }


    &__link{
        width: 170px;
        height: 92px;
        border-radius: 3%;
        border: 1px solid $main-light-gray-color;
        fill: $main-light-gray-color;
        transition: color 300ms linear, bolder 300ms linear, fill 300ms linear;
        
            &:hover, &:focus {
                fill:$main-blue-color;
                color:  $main-blue-color;
                border: 1px solid $main-blue-color;
            
            } 
        }
        }