.partner__container{
     
    @include default{width: 320px;}
    @include phone  {width: 480px;}
    @include tablet {width: 768px;}
    @include desktop{width: 1200px;}
    }

//width: calc(100% / 3 - 30px);
      
.partners{
        @include phone{
            padding-top: 30px;
            padding-bottom: 30px;
            }

        @include tablet{
            padding-top: 60px;
            padding-bottom: 60px;
            }

        @include desktop{
           padding-top: 94px;
           padding-bottom: 94px;
           }


    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

   }

    &__item{
        margin: 15px;
        height: 92px;
        display: flex;
        border-radius: 3%;
        
        @include phone  {width: calc(100% / 2 - 30px);}
        @include tablet {width: calc(100% / 3 - 30px);}
        @include desktop{width: calc(100% / 6 - 30px);}
 

    }

   &__title{
   
        @include default{
            @include font(Roboto, normal, bold, 28px, 1.16, none, 0.03em);
            color: $main-black-color;
            text-align: center;
            margin-bottom: 30px;
        }
    
        @include phone  { 
            @include font(Roboto, normal, bold, 28px, 1.16, none, 0.03em);
            color: $main-black-color;
            text-align: center;
            margin-bottom: 30px;
        }
    
        @include tablet {
             @include font(Roboto, normal, bold, 36px, 1.16, none, 0.03em);
            color: $main-black-color;
            text-align: center;
            margin-bottom: 50px;
        }
    
        @include desktop 
            @include font(Roboto, normal, bold, 36px, 1.16, none, 0.03em);
            color: $main-black-color;
            text-align: center;
            margin-bottom: 30px;
         }


    &__link{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 92px;
        border-radius: 3%;
        border: 1px solid $main-light-gray-color;
        fill: $main-light-gray-color;
        transition: color 300ms linear, bolder 300ms linear, fill 300ms linear;
        
            &:hover, &:focus {
                fill:$main-blue-color;
                color:  $main-blue-color;
                border: 1px solid $main-blue-color;
            
            } 
        }
    }